<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- configuration 标签上可定义如下属性： scan 配置文件变化时是否重新加载配置文件，默认="true" scanPeriod 指定 scan 检测时间间隔，默认单位 seconds ，默认值="60 seconds" 
		debug 是否打印 logback 内部日志，默认="false" -->
	<!-- 定义变量 -->
	<!-- 单个日志文件最大大小 -->
	<property name="max.per.size" value="100MB" />
	<!-- 所有日志文件最大总大小 -->
	<property name="max.total.size" value="10GB" />
	<!-- 归档最大保留天数 -->
	<property name="max.history" value="30" />
	<!-- 日志文件保存目录 -->
	<springProfile name="dev">
		<property name="log.dir" value="log/" />
	</springProfile>
	<springProfile name="prod">
		<property name="log.dir" value="~/log/" />
	</springProfile>
	<!-- 日志输出格式 -->
	<property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50} -%msg%n" />
	<!-- 从 application.yml 获取变量 -->
	<springProperty scope="context" name="project.name" source="spring.application.name" />

	<springProfile name="dev">
		<!-- 控制台打印 -->
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder charset="utf-8">
				<pattern>${log.pattern}</pattern>
			</encoder>
			<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
				<level>INFO</level>
			</filter>
		</appender>
		<!-- 保存文件 -->
		<appender name="INFO" class="ch.qos.logback.core.FileAppender">
			<file>${log.dir}/${project.name}.log</file>
			<append>false</append>
			<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
				<level>INFO</level>
			</filter>
			<encoder charset="utf-8">
				<pattern>${log.pattern}</pattern>
			</encoder>
		</appender>

		<root>
			<appender-ref ref="STDOUT" />
			<appender-ref ref="INFO" />
		</root>
	</springProfile>

	<springProfile name="prod">
		<!-- 保存 ERROR 日志文件，并定期归档 -->
		<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${log.dir}/${project.name}-error.log</file>
			<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
				<level>ERROR</level>
			</filter>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<!-- 按天归档 -->
				<fileNamePattern>${log.dir}/${project.name}/%d{yyyy-MM-dd}.%i-error.log
				</fileNamePattern>
				<maxFileSize>${max.per.size}</maxFileSize>
				<totalSizeCap>${max.total.size}</totalSizeCap>
				<maxHistory>${max.history}</maxHistory>
			</rollingPolicy>
			<encoder charset="utf-8">
				<pattern>${log.pattern}</pattern>
			</encoder>
		</appender>
		<!-- 保存日志文件，并定期归档 -->
		<appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${log.dir}/${project.name}.log</file>
			<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
				<level>INFO</level>
			</filter>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<!-- 按天归档 -->
				<fileNamePattern>${log.dir}/${project.name}/%d{yyyy-MM-dd}.%i.log
				</fileNamePattern>
				<maxFileSize>${max.per.size}</maxFileSize>
				<totalSizeCap>${max.total.size}</totalSizeCap>
				<maxHistory>${max.history}</maxHistory>
			</rollingPolicy>
			<encoder charset="utf-8">
				<pattern>${log.pattern}</pattern>
			</encoder>
		</appender>

		<root>
			<appender-ref ref="ERROR" />
			<appender-ref ref="INFO" />
		</root>
	</springProfile>

	<!-- 配置记录日志的包 -->
	<logger name="cn.milai.ib" level="DEBUG" />

</configuration>